{% extends 'base.html' %}

{% block encabezado %}
<h1> Carga de la Base de datos. Confirmaci&oacute;n </h1>
{% endblock %}

  {% block contenido %}
    <h3>AVISO: Este proceso es lento, borra la base de datos actual y requiere conexión a internet</h3>
    <form id='formulario' method='get' action='/cargar_bd/'>
        <label for="num_pags">Número de páginas a cargar (3 a 10):</label>
        <select id="num_pags" name="num_pags" required>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <button type="submit">Cargar</button>
    </form>
  {% endblock %}
